@font-face {
    font-family: 'uni_sansheavy_caps';
    src: url('../fonts/Uni_Sans_Heavy.otf') format('opentype'),
        url('../fonts/Uni_Sans_Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --yellow: rgba(255, 212, 1, 1);
    --yellow-dim: rgba(255, 212, 1, 0.7);
    --black: rgba(0, 0, 0, 1);
    --transparent-black: rgba(0, 0, 0, 0.6);
    --transition-time: 150ms;
    --yellow-filter: invert(79%) sepia(62%) saturate(941%) hue-rotate(354deg) brightness(100%) contrast(108%);
    --yellow-filter-dim: invert(78%) sepia(31%) saturate(6632%) hue-rotate(12deg) brightness(102%) contrast(99%);
    ;
    /* check https://codepen.io/sosuke/pen/Pjoqqp how it was generated */
    --burger-button-line-height: 4px;
}

* {
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

h2 {
    color: var(--yellow);
    font-size: 3em;
}

h3 {
    color: var(--black);
    font-size: 2.5em;
}

body {
    font-family: "uni_sansheavy_caps";
    margin: 0;
    background-color: var(--black);
}

html {
    scroll-behavior: smooth;
}

section#navigation {
    background-color: var(--black);
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 10000
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navigation-bar img:hover {
    cursor: pointer;
}


nav ul.navigation-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

nav ul.navigation-buttons a {
    text-decoration: none;
    color: white;
    font-family: "uni_sansheavy_caps";
    font-size: 1.5em;
    color: var(--yellow);
    transition: var(--transition-time);
}

nav ul.navigation-buttons a:hover {
    color: var(--yellow-dim);
    cursor: pointer;
}

.burger-button,
.burger-button::before,
.burger-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: var(--burger-button-line-height);
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: calc(var(--burger-button-line-height)/2);
}

.burger-button::before {
    content: '';
    margin-top: calc(-2*var(--burger-button-line-height));
}

.burger-button::after {
    content: '';
    margin-top: calc(2*var(--burger-button-line-height));
}

.menu-button-container {
    margin: 0px 20px;
    display: none;
    height: calc(5*var(--burger-button-line-height));
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked+.menu-button-container .burger-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .burger-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .burger-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.yellowbar {
    margin-top: 15px;
    height: 9px;
    background-color: var(--yellow);
    width: 100%;
}

section.welcome {
    color: white;
}

.bigger-text {
    font-size: 175%;
}

section.welcome {
    background: url("../img/welcome-background.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
}

div.image-overlay {
    background: var(--transparent-black);
    height: 100%;
}

section.welcome p {
    font-size: 175%;
    margin: 0.4em 0;
}

.welcome-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.welcome-wrapper a {
    margin-left: auto;
    margin-right: auto;
}

.welcome-wrapper a {
    padding: 15px;
    background-color: var(--yellow);
    text-decoration: none;
    color: var(--black);
    border-radius: 10px;
    transition: var(--transition-time);
}

.welcome-wrapper a:hover {
    background-color: var(--yellow-dim);
}

.welcome-text {
    margin-top: 35px;
}

section.about-us {
    margin-top: 25px;
}



section.about-us div.pictograms-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 5vw;
}

section.about-us div.pictogram-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.about-us img {
    filter: var(--yellow-filter);
    /* check https://codepen.io/sosuke/pen/Pjoqqp how it was generated */
    height: 8vw;
    aspect-ratio: 1/1;
}

section.about-us p {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 1.55em;
}

div#truck-icon {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#truck-icon img {
    margin-right: auto;
    margin-left: auto;
    aspect-ratio: 2/1;
    /*truck icon is not square so to make it bigger flex-grow is increased*/
}



section#buying p {
    font-family: "Roboto", sans-serif;
    margin-bottom: 25px;
    color: white;
    font-size: 2em;
}

section#buying>h2>p {
    margin-top: 15px;
}

.img-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.img-wrapper img {
    border-radius: 10px;
    width: 80%;
}

section.interested-in {
    background-color: var(--yellow);
}

section.interested-in h3 {
    padding: 25px 0;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery-item {
    width: 20%;
    aspect-ratio: 1/1;
    margin: 20px 10px;
    text-align: center;
}

.gallery-item img {
    filter: sepia(0.7) saturate(3);
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 10px 10px 1px 1px rgba(0, 0, 0, 1);
}

.gallery-item p {
    text-align: center;
    margin: 15px 0 0;
    color: var(--black);
    font-size: 1.55vw;
}


section#selling h2,
section#offer h2,
section#services h2,
section#contact h2 {
    margin-top: 25px;

}

section#selling p,
section#offer p,
section#services .services-description p {
    margin-top: 25px;
    color: white;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
}

section#services .services-gallery p {
    margin-top: 25px;
    color: white;
    font-size: 2em;
    font-family: "uni_sansheavy_caps", sans-serif;
}

section#selling img {
    width: 50%;
}

div.services-wrapper {
    display: flex;
    gap: 30px;
}

div.services-gallery {
    width: 30%;
}

div.services-gallery img {
    width: 100%;
}

div.services-description p {
    padding: 0 35px;
}

#contactForm {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 50%;
}

#contactForm input,
#contactForm textarea {
    border: none;
    outline: none;
    padding: 15px 0;
    width: 100%;
    transition: var(--transition-time);
    text-indent: 10px;
}

#contactForm input::placeholder,
#contactForm textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
}

#contactForm button {
    font-family: "uni_sansheavy_caps";
    border: none;
    border-radius: 10px;
    background-color: var(--yellow);
    padding: 15px;
    font-size: 1.3em;
    width: 100%;
    transition: var(--transition-time);
}

#contactForm button:hover {
    cursor: pointer;
    background-color: var(--yellow-dim);
}



section#company-info p {
    color: white;
}

.info-wrapper {
    margin: 25px 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 150%;
    justify-content: space-between;
}

.info-wrapper img {
    width: 50%;
}

section#company-info iframe {
    width: 100%;
    height: 50vh;
}

.socials {
    display: flex;
    justify-content: space-between;
}

.socials>img {
    width: 50vw;
}

.socialswrapper {
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 300px;
}

.socialswrapper a {
    margin-right: 30px;
    width: 10%;
}

.socialswrapper img {
    filter: var(--yellow-filter);
    width: 100%;
}

.socialswrapper img:hover {
    cursor: pointer;
    filter: var(--yellow-filter-dim)
}

footer p {
    color: white;
    text-align: center;
    font-size: 1.5em;
}


@media (max-width:1211px) {
    .container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:1045px) {
    section.about-us div.pictograms-container {
        flex-direction: column;
        align-items: center;
    }

    section.about-us img {
        height: 16vw;
    }

    .gallery-item p {
        font-size: 2vw;
    }
}

@media (max-width:860px) {

    nav.navigation-bar {
        flex-wrap: wrap;
        position: relative;
    }

    .container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    section#navigation .container {
        width: 100%;
    }

    .menu-button-container {
        display: flex;
    }

    nav.navigation-bar .navigation-buttons {
        gap: 0px;
        position: absolute;
        top: 118%;
        right: 0px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.navigation-buttons li {
        display: none;
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.navigation-buttons li {
        margin-left: 0.7em;
        display: block;
        border-bottom: 1px solid white;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }



    .navigation-buttons>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: var(--black);
    }

    .navigation-buttons>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

@media (max-width:420px) {
    nav.navigation-bar .navigation-buttons {
        top: 116%;
    }
}