/* Style modalu */
.modal {
    display: none; /* Ukryj modal domyślnie */
    position: fixed;
    z-index: 99999999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    text-align: center;
  }
p#modal-message{
  text-align: inherit;
}
  
  /* Styl zawartości modalu */
  .modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    border: 1px solid #888;
    width: 45vmin;
    aspect-ratio: 1;
    position: relative;
    padding: 50px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  /* Styl dla przycisku zamknięcia */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top:15px;
    right: 15px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  