    <!-- Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <h1 id="modal-title">Komunikat</h1>
          <span class="close">&times;</span>
          <p id="modal-message"></p>
          <div id="modal-buttons">
            <button id="modal-button-1"></button>
            <button id="modal-button-2"></button>
          </div>
        </div>
    </div>