<link rel="stylesheet" href="/css/modal.css">
<script src="/js/modal.js" defer></script>

<!-- Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h1 id="modal-title">Komunikat</h1>
    <span class="close">&times;</span>
    <p id="modal-message"></p>
    <input type="text" name="mfa" id="mfa" placeholder="Kod:">
    <div id="modal-buttons">
      <button id="modal-button-1"></button>
      <button id="modal-button-2"></button>
    </div>
  </div>
</div>