<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetowanie hasła</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/dashboard/passwordReset.js" defer></script>
</head>

<body>
    <%- include('modal.ejs') %>
    
    <h1>Resetowanie hasła</h1>
    <form id="passwordResetUpdate" action="/auth/password-reset/" method="PATCH">
        <input id="password" type="password" name="password" placeholder="Nowe hasło" required><br>
        <input id="token" type="hidden" name="token" value="<%= token %>">
        <button type="submit">Wyślij</button>
    </form>
</body>

</html>