<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Profile</title>
    <link rel="stylesheet" href="/css/profile.css">

    <script src="/js/dashboard/csrf.js" defer></script>
    <script src="/js/dashboard/profile.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcode-generator/qrcode.js" defer></script>
</head>

<body>
    <%- include('modal.ejs') %>

        <div class="site-container">
            <div class="container">
                <h1>Zarządzanie profilem</h1>
                <form action="/dashboard/change-profile" method="POST">
                    <label for="newUsername">Nazwa użytkownika:</label>
                    <input type="text" id="newUsername" name="newUsername" value="<%= user.username %>" required>
                    <label for="currentPassword">Aktualne hasło:</label>
                    <input type="password" id="currentPassword" name="currentPassword">
                    <label for="newPassword">Nowe hasło:</label>
                    <input type="password" id="newPassword" name="newPassword">
                    <label for="newEmail">Adres email:</label>
                    <input type="email" id="newEmail" name="newEmail" value="<%= user.email %>">
                    <input id="csrfToken" type="hidden" name="csrfToken" value="<%= csrfToken %>">
                    <button type="submit">Zapisz</button>
                </form>
            </div>
            <div class="security-section container">
                <h2>Bezpieczeństwo</h2>
                <button id="logout-button" class="logout-button">Wyloguj się z wszystkich urządzeń</button>
                <h3>Zeskanuj kod QR w <a
                        href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&pli=1">aplikacji</a>
                    do uwierzytelniania dwuetapowego</h3>
                <div id="qrcode"></div>
                <input type="text" name="mfaToken" id="mfaToken" placeholder="Kod z aplikacji">
            </div>
        </div>

</body>

</html>