<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="/js/listings/overrideMethod.js"></script>
    <title>Dodaj Nowy Pojazd</title>
</head>

<body>
    <%- include('../modal.ejs') %>
    <%- include('../navbar.ejs') %>

    <div class="container mt-5">
        <h1>Dodaj Nowy Pojazd</h1>
        <form action="/fleet/add" method="POST" httpMethod="PUT">
            <input type="hidden" name="csrfToken" id="csrfToken" value="<%= csrfToken %>">

            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" class="form-control" id="model" name="model" required>
            </div>
            <div class="form-group">
                <label for="loadCapacity">Ładowność (kg)</label>
                <input type="number" class="form-control" id="loadCapacity" name="loadCapacity" min="0" required>
            </div>
            <div class="form-group">
                <label for="gvm">DMC (kg)</label>
                <input type="number" class="form-control" id="gvm" name="gvm" min="0" required>
            </div>
            <div class="form-group">
                <label for="platformLength">Długość najazdu (cm)</label>
                <input type="number" class="form-control" id="platformLength" name="platformLength" min="0" required>
            </div>
            <div class="form-group">
                <label for="flatPartLength">Długość płaskiej części (cm)</label>
                <input type="number" class="form-control" id="flatPartLength" name="flatPartLength" min="0" required>
            </div>
            <div class="form-group">
                <label for="slopeLength">Długość skosu (cm)</label>
                <input type="number" class="form-control" id="slopeLength" name="slopeLength" min="0" required>
            </div>
            <div class="form-group">
                <label for="platformWidth">Szerokość najazdu (cm)</label>
                <input type="number" class="form-control" id="platformWidth" name="platformWidth" min="0" required>
            </div>
            <div class="form-group">
                <label for="platformHeight">Wysokość (cm)</label>
                <input type="number" class="form-control" id="platformHeight" name="platformHeight" min="0" required>
            </div>
            <div class="form-group">
                <label for="loadingSlopeHeight">Wysokość skosu do załadunku (cm)</label>
                <input type="number" class="form-control" id="loadingSlopeHeight" name="loadingSlopeHeight" min="0" required>
            </div>
            <div class="form-group">
                <label for="rampLength">Długość najazdów (cm)</label>
                <input type="number" class="form-control" id="rampLength" name="rampLength" min="0" required>
            </div>
            <div class="form-group">
                <label for="maxLoadHeight">Maksymalna wysokość ładunku (cm)</label>
                <input type="number" class="form-control" id="maxLoadHeight" name="maxLoadHeight" min="0" required>
            </div>
            <div class="form-group">
                <label for="passengerSeats">Liczba miejsc pasażera</label>
                <input type="number" class="form-control" id="passengerSeats" name="passengerSeats" min="0" max="10" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Dodaj Pojazd</button>
        </form>
    </div>
</body>

</html>
