@font-face {
    font-family: 'uni_sansheavy_caps';
    src: url('../fonts/Uni_Sans_Heavy.otf') format('opentype'),
        url('../fonts/Uni_Sans_Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --yellow: rgba(243, 232, 55, 1);
    --yellow-dim: rgba(243, 232, 55, 0.7);
    --grey:rgba(79,76,77,1);
    --transparent-grey:rgba(79,76,77,0.6);
    --black: rgba(0, 0, 0, 1);
    --transparent-black: rgba(0, 0, 0, 0.6);
    --red:rgba(189,39,45,1);
    --transition-time: 150ms;
    --yellow-filter: invert(79%) sepia(78%) saturate(439%) hue-rotate(1deg) brightness(107%) contrast(91%);
    --yellow-filter-dim: invert(86%) sepia(62%) saturate(625%) hue-rotate(353deg) brightness(90%) contrast(93%);
    ;
    /* check https://codepen.io/sosuke/pen/Pjoqqp how it was generated */
    --burger-button-line-height: 4px;
}

* {
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    text-justify: auto;
    hyphens: auto;
}

h2 {
    color: white;
    font-size: 5em;
}

h3 {
    color: white;
    font-size: 2em;
}

body {
    font-family: "uni_sansheavy_caps";
    margin: 0;
    background-color: var(--yellow);
}

html {
    scroll-behavior: smooth;
}


section#navigation {
    background-color: var(--yellow);
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 10000
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navigation-bar img:hover {
    cursor: pointer;
}


nav ul.navigation-buttons {
    list-style-type: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

nav ul.navigation-buttons a {
    text-decoration: none;
    font-family: "uni_sansheavy_caps";
    font-size: 1.5em;
    color: var(--grey);
    transition: var(--transition-time);
}

nav ul.navigation-buttons a:hover {
    color: var(--transparent-black);
    cursor: pointer;
}

.burger-button,
.burger-button::before,
.burger-button::after {
    display: block;
    background-color: var(--grey);
    position: absolute;
    height: var(--burger-button-line-height);
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: calc(var(--burger-button-line-height)/2);
}

.burger-button::before {
    content: '';
    margin-top: calc(-2*var(--burger-button-line-height));
}

.burger-button::after {
    content: '';
    margin-top: calc(2*var(--burger-button-line-height));
}

.menu-button-container {
    margin: 0px 20px;
    display: none;
    height: calc(5*var(--burger-button-line-height));
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked+.menu-button-container .burger-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .burger-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .burger-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.greybar {
    margin-top: 15px;
    height: 9px;
    background-color: var(--grey);
    width: 100%;
}

section.welcome {
    color: white;
    background-color: var(--black);
}

.bigger-text {
    font-size: 175%;
}


section.welcome p {
    text-align: left;
    font-size: 2cqw;
    margin: 0.4em 0;
}

.welcome-wrapper {
    padding: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
}

.welcome-wrapper a {
    padding: 30px;
    background-color: var(--yellow);
    text-decoration: none;
    color: var(--grey);
    border-radius: 10px;
    transition: var(--transition-time);
    font-size: 250%;
}

.welcome-wrapper a:hover {
    background-color: var(--yellow-dim);
}

.welcome-text {
    margin-top: 35px;
}

section.about-us {
    background-color: var(--black);
}



section.about-us div.pictograms-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 5vw;
}

section.about-us div.pictogram-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.about-us img {
    filter: var(--yellow-filter);
    /* check https://codepen.io/sosuke/pen/Pjoqqp how it was generated */
    height: 8vw;
    aspect-ratio: 1/1;
}

section.about-us p {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 1.55em;
}

div#truck-icon {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#truck-icon img {
    margin-right: auto;
    margin-left: auto;
    aspect-ratio: 2/1;
    /*truck icon is not square so to make it bigger flex-grow is increased*/
}


section#services,
section#roadsideAssistance,
section#fleet{
    margin-top: 2vh;
}
section#fleet>div.container{
    display: flex;
    flex-direction: column;
    gap:2vh
}
.sectionBox{
    background-color: var(--grey);
    color:white;
    padding: 15px;
    border-radius: 10px;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    gap:5vw;
}
.sectionBox .list{
    margin-left: 1em;
}
.sectionBox div{
    display: flex;
    flex-direction: column;
}
.sectionBox-right img{
    max-width:100%;
    border-radius: 10px;
}
.sectionBox-right{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 35%;
}

.loaded-trucks{
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}

.loaded-trucks img{
    width: 45%;
    border-radius: 10px;
}

section#roadsideAssistance .sectionBox-left ul{
    margin-left: 1em;
}
section#roadsideAssistance h2{
    color:var(--red);
}

.img-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.img-wrapper img {
    border-radius: 10px;
    width: 80%;
}

section.interested-in {
    background-color: var(--yellow);
}

section.interested-in h3 {
    padding: 25px 0;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery-item {
    width: 20%;
    aspect-ratio: 1/1;
    margin: 20px 10px;
    text-align: center;
}

.gallery-item img {
    filter: sepia(0.7) saturate(3);
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 10px 10px 1px 1px rgba(0, 0, 0, 1);
}

.gallery-item p {
    text-align: center;
    margin: 15px 0 0;
    color: var(--black);
    font-size: 1.55vw;
}


section#selling h2,
section#contact h2 {
    margin-top: 25px;

}

section#selling p{
    margin-top: 25px;
    color: white;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
}


.gallery-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap: 20px;
    margin-top: 25px;
}



.auction {
    min-width: 33%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
}

.auction img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}

.auction p {
    text-align: center;
}

div.gallery-container img.gallery-btn {
    width: 5%;
    outline: none;
    border: none;
    padding: 20px 15px;
    font-size: 2em;
    margin: 0 10px;
    aspect-ratio: 1/1;
    background-color: var(--yellow);
    border-radius: 10px;
    filter: opacity(85%);
    transition: var(--transition-time);
    z-index: 9999;
    position: absolute;

}

div.gallery-container .gallery-btn:hover {
    filter: opacity(50%);
    cursor: pointer;
}

.prev-btn {
    left: 0;

}

.next-btn {
    right: 0;
}




section#selling img {
    width: 50%;
}


#contact-form {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 50%;
}
#contact-form input{
    font-size: 16px;
}

#contact-form input:not(#phoneNumber),
#contact-form textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
    padding: 15px 0;
    width: 100%;
    transition: var(--transition-time);
    text-indent: 1em each-line;
}

#contact-form a,
#contact-form label {
    color: white
}

#contact-form div#consent-checkbox {
    display: flex;
    gap:1vw;
}

#contact-form div#consent-checkbox input {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 15%;
}

div.iti {
    width: 100%;
}

input#phoneNumber {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    transition: var(--transition-time);

    padding-top: 15px;
    padding-bottom: 15px;
}


#contact-form input:focus,
#contact-form textarea:focus {
    box-shadow: 0 0 5px var(--grey);
    border: 1px solid var(--grey);
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
}

#contact-form button {
    font-family: "uni_sansheavy_caps";
    border: none;
    border-radius: 10px;
    background-color: var(--grey);
    padding: 15px;
    font-size: 1.3em;
    width: 100%;
    transition: var(--transition-time);
    color:white
}

#contact-form button:hover {
    cursor: pointer;
    background-color: var(--transparent-grey);
}



section#company-info p {
    color: white;
}

.info-wrapper {
    margin: 3vh 0;
    display: flex;
    align-items: center;
    font-size: 150%;
    justify-content: space-between;
}

.info-wrapper img {
    width: 50%;
}

section#company-info iframe {
    width: 100%;
    height: 50vh;
    border:0px;
}
footer{
    background-color: var(--grey);
}
.socials {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.socials>img {
object-fit: contain;
}

.socialswrapper {
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 50cqh;
}

.socialswrapper a {
    margin: 0 15px;
    width: 10%;
}

.socialswrapper img {
    filter: var(--yellow-filter);
    width: 100%;
}

.socialswrapper img:hover {
    cursor: pointer;
    filter: var(--yellow-filter-dim)
}

footer p {
    margin: 0px 15px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

footer a {
    text-decoration: none;
    color: white;
}

@media (min-width:1920px) {

    section.welcome p {
        text-align: left;
        font-size: 1.75cqw;
        margin: 0.4em 0;
    }
}
@media (min-width:1400px) {

   .gallery-item p{
    font-size: 1.4vw;
   }
}